.container {
	width: 70%;
	margin: 15px auto;
	border: 1px solid green;
}

.board {
	display: flex;
	outline: 1px solid green;
	flex: 1;
	min-height: 800px;
	overflow-x: auto;
}

.container h2 {
	padding: 8px;
}
