.col {
	display: flex;
	flex-flow: column;
	margin: 8px;
	border: 1px solid lightgray;
	border-radius: 2px;
	min-width: 20%;
	max-width: 20%;
	flex: 1;
}

h3 {
	padding: 8px;
	flex: 0 1 auto;
}

.ticket-list {
	background-color: white;
	padding: 8px;
	outline: 1px solid red;
	flex: 1 1 auto;
	transition: background-color 0.5s ease;
	min-height: 50px;
}

.drop {
	background-color: skyblue;
}
